{
  "printWidth": 200,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "prettier.bracketSpacing": true,
  "arrowParens": "avoid",
  "spacebeforefunctionparen": ["error", "always"],
  "insertSpaceBeforeFunction": true,
  "javascript.format.insertSpaceBeforeFunctionParenthesis": true,
  "prettier.trailingComma": "es6"
}
